{% extends "blog/base.html" %}
{% block content %}
<h1 class="loud-title">About Stephen</h1>
<article class="media content-section">
  <div class="media-body">
    <div class="article-content">
      <h2 class="loud-subtitles">The Gist</h2>
      <p class="text-justify">I love to learn, build, and do cool stuff. Whether it's in a personal or professional capacity, I'm addicted to personal growth in all its forms; physically, intellectually, and spiritually. Currently, I am a student at Lambda School studying artificial intelligence, machine learning, and data science. I genuinely enjoy coming up with machine learning problems I can apply to areas in which I have deep passion, such as boxing or burritos. For example, I built a model that can predict with 73% accuracy the outcome of a boxing match. As far as burritos go, everyone knows you construct them in an elongated fashion so as to ensure all ingredients are equally represented in any cross-section of the burrito.</p>
      <p class="text-justify">I wasn't always a super-awesome machine learning developer. Prior to my newfound passion for the next great industrial revolution, I specialized in business development consulting. My particular area of expertise was sales and building leading sales teams. Over almost a decade of business development experience, I've worked in international consulting, technology, commercial and residential real estate, and briefly as a proprietary trader. I've developed business plans for startups in consumer technology businesses, and I've launched a few of my own startups with varying degrees of success, though I haven't had the opportunity to apply my own technological prowess to any of my own startups. <span class="font-italic">Yet.</span></p>
      <p class="text-justify">When I'm not building cool stuff with my hands or my computer, I'm usually being an awesome dad or a great husband. I am an active amateur boxer, so I spend a lot of time training. I keep a close eye on the financial markets, and an even closer eye on my kitchen because I'm usually cooking something <span class="font-weight-bold">AMAZING.</span> Besides my beautiful wife and two spectacular children, we also have two pretty super doggos that live with us as well. When I have time, I like to hit the billiards tables, but this isn't as often as I'd like it to be.</p>
    </div>
  </div>
</article>

{% endblock content %}
