{% extends "blog/base.html" %}
{% block content %}
<div class="container align-items-center">
  <div class="text-center jumbotron jumbotron-billboard">
    <img src="/static/blog/home_graphic.png" class="align-self-center">
    <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table-responsive text-center">
          <tbody>
            <tr>
              <td><a href="https://www.facebook.com/theefatherpreneur/"><img src="/static/blog/social-media-icons/FB-miami-pink.png"></a></th>
              <td><a href="https://twitter.com/the_3n1gma"><img src="/static/blog/social-media-icons/iconmonstr-twitter-5-240-miami-pink.png"></a></th>
              <td><a href="https://www.linkedin.com/in/stephenplainte/"><img src="/static/blog/social-media-icons/iconmonstr-linkedin-5-240-miami-pink.png"></a></th>
              <td><a href="https://www.instagram.com/the_fatherpreneur/"><img src="/static/blog/social-media-icons/iconmonstr-instagram-15-240-miami-pink.png"></a></th>
              <td><a href="https://medium.com/@stephenplainte"><img src="/static/blog/social-media-icons/iconmonstr-medium-5-240.png"></a></th>
              <td><a href="https://github.com/FuriouStyles"><img src="/static/blog/social-media-icons/iconmonstr-github-5-240-miami-pink.png"></a></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
