{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Boxing Match Outcome Predictor</h1>
  <h3>Long Form</h3>
  <p>Sorry! The live web scraper failed to produce results, so you'll have to input the values manually. For the most accurate prediction, please fill out the form with the appropriate format where it's appropriate.</p>
  <div class="content-section">
    <form method="GET">
      {% csrf_token %}
      <fieldset class="form-group row">
        <legend class="border-bottom mb-4">Make A Fight Prediction</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group row">
        <button class="btn btn-outline-info" type="submit">Predict</button>
      </div>
    </form>
  </div>
{% endblock content %}
