{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Boxing Match Outcome Predictor</h1>
  <h3>404 - A more satisfying name does not exist!</h3>
  <p>I love boxing. The first time I put gloves on I was 13 years old at summer camp. I won in around 20 seconds by TKO and was immediately hooked. As an active amateur boxer considering a professional career in the sport, I want to transform the way I engage with the sweet science by using data science.</p>
  <div class="content-section">
    <form method="GET">
      {% csrf_token %}
      <fieldset class="form-group row">
        <legend class="border-bottom mb-4">Make A Fight Prediction</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group row">
        <button class="btn btn-outline-info" type="submit" data-toggle="modal" data-target="#mcgregor-modal">Predict</button>
      </div>
    </form>
    <div class="modal fade" id="mcgregor-modal" tabindex="-1" role="dialog" aria-labelledby="mcgregor-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Predicting...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Right now I'm making requests to BoxRec. It can take a minute. Here's some footage of Conor McGregor warming up during a public workout before his fight with Floyd Mayweather. When this gets it's own website this will be an ad lol.</p>
            <img src="/static/mcgregor.gif" class="img-responsive mx-auto">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
